* {
    box-sizing: border-box;
}

.agent-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 15px
}

.field {
    display: flex;
    flex-direction: column;
}

form.search-agents {
    display: flex;
    align-content: center;
    gap: 5px;
}

select:invalid {
    color: grey
}