* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

.agent-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 15px
}

.field {
    display: flex;
    flex-direction: column;
}