* {
    box-sizing: border-box;
}

.agent-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 15px
}

.field {
    display: flex;
    flex-direction: column;
}

form.search-agents {
    display: flex;
    align-content: center;
    gap: 5px;
}

select:invalid {
    color: grey
}

.header {
    background: #222;
    padding: 10px;
}

.header .nav-menu {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 25px;
}

.header .nav-menu .nav-button {
    padding: 5px;
    color: white;
}

.header .nav-menu .nav-button .nav-link {
    text-decoration: none;
    color: inherit;
}

.header .nav-menu .nav-button .nav-link:visited {
    color: inherit;
}