{% extends 'base.html' %}
{% block title %}
	Add agent
{% endblock %}
{% block content %}
    <h1 style="margin-bottom: 20px">Add a new agent</h1>
    <form action="/add" method="post" class="agent-form">
        <div class="field">
            <label for="codename">Agent codename:</label>
            <input type="text" id="codename" name="codename">
        </div>
        <div class="field">
            <label for="phone">Phone number:</label>
            <input type="tel" id="phone" name="phone">
        </div>
        <div class="field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="field">
            <label for="access">Access level:</label>
            <select name="access" id="" required>
                <option value="" disabled selected hidden>Choose an access level</option>
                <option value="0">Restricted</option>
                <option value="1">Standart</option>
                <option value="2">Secret</option>
                <option value="3">Super Secret</option>
            </select>
        </div>
        <button type="submit" value="normal" name="method">Submit</button>
        <button type="submit" value="random" name="method" id="randomize">Randomize!</button>
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        let button = document.getElementById('randomize')
        let form = document.querySelector('form')
        button.addEventListener('click', () => {
            form.submit()
        })
    </script>
{% endblock %}