{% extends 'base.html' %}
{% block title %}
	Add agent
{% endblock %}
{% block content %}
    <h1 style="margin-bottom: 20px">Add a new agent</h1>
    <form action="/add" method="post" class="agent-form">
        <div class="field">
            <label for="codename">Agent codename:</label>
            <input type="text" id="codename" name="codename">
        </div>
        <div class="field">
            <label for="phone">Phone number:</label>
            <input type="tel" id="phone" name="phone">
        </div>
        <div class="field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="field">
            <label for="access">Access level:</label>
            <select name="access" id="access" required>
                <option value="" disabled selected hidden>Choose an access level</option>
                <option value="0">Restricted</option>
                <option value="1">Standart</option>
                <option value="2">Secret</option>
                <option value="3">Super Secret</option>
            </select>
        </div>
        <button type="submit" value="normal" name="method">Submit</button>
        <button type="button" id="randomize">Randomize!</button>

    </form>
{% endblock %}

{% block extrajs %}
<script>
    document.getElementById('randomize').addEventListener('click', async () => {
        const res = await fetch('/randomize');
        if (!res.ok) return alert('Failed to get random agent data');
        const data = await res.json();

        // Fill the fields
        document.getElementById('codename').value = data.codename;
        document.getElementById('phone').value = data.phone;
        document.getElementById('email').value = data.email;
        document.getElementById('access').value = data.access;
    });
</script>
{% endblock %}