{% extends 'base.html' %}
{% block title %}
    Info about: {{ agent.codename }}
{% endblock %}
{% block content %}
    <h1><b>Info about: {{ agent.codename }}</b></h1>
    <ul>
        <li>Personal id: {{ agent.id }}</li>
        <li>Phone (for emergency calls): {{ agent.phone }}</li>
        <li>Email (for encrypted messages): {{ agent.email }}</li>
        <li>
            Access level:
            {% if agent.access == 1 %}
            Standart
            {% elif agent.access == 2 %}
            Secret
            {% elif agent.access == 3 %}
            Super Secret
            {% elif agent.access == 0 %}
            Restricted
        </li>
    </ul>
{% endblock %}
