<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agents list</title>
</head>
<body>
<h1>List of all agents:</h1>
<ul>
    {% for agent in agents %}
    	<li>
            <b>{{ agent.codename }}</b>
            <ul>
                <li>Phone (for emergency calls): {{ agent.phone }}</li>
                <li>Email (for encrypted messages): {{ agent.email }}</li>
                <li>Access level: {% if agent.access == 0 %}
                	Standart
                {% elif agent.access == 1 %}
                	Secret
                {% elif agent.access == 2 %}
                	Super secret
                {% endif %} </li>
            </ul>
        </li>
    {% endfor %}

</ul>
</body>
</html>