{% extends 'base.html' %}
{% block title %}
	Main page
{% endblock %}
{% block content %}
    <h1>List of all agents:</h1>
    <ul>
        {% for agent in agents %}
            <li>
                <b>{{ agent.codename }}</b>
                <ul>
                    <li>Phone (for emergency calls): {{ agent.phone }}</li>
                    <li>Email (for encrypted messages): {{ agent.email }}</li>
                    <li>Access level: {% if agent.access == 0 %}
                        Standart
                    {% elif agent.access == 1 %}
                        Secret
                    {% elif agent.access == 2 %}
                        Super secret
                    {% else %}
                        Restricted
                    {% endif %} </li>
                </ul>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
