{% extends 'base.html' %}
{% block title %}
	Main page
{% endblock %}
{% block content %}
    <h1>List of all agents:</h1>
    <ul>
        {% for agent in agents %}
            <li>
                <a href="/agent/{{ agent.id }}"><b>{{ agent.codename }}</b></a>
                <ul>
                    <li>Personal id: {{ agent.id }}</li>
                    <li>Phone (for emergency calls): {{ agent.phone }}</li>
                    <li>Email (for encrypted messages): {{ agent.email }}</li>
                    <li>
                        Access level:
                        {% if agent.access == 1 %}
                        Standart
                        {% elif agent.access == 2 %}
                        Secret
                        {% elif agent.access == 3 %}
                        Super Secret
                        {% elif agent.access == 0 %}
                        Restricted
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
